@using 第二組期末專題.Models
@model 文章

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('../../Content/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="fa fa-chevron-right"></i></a></span> <span class="mr-2"><a href="index.html">@Model.Get作者()["名字"] <i class="fa fa-chevron-right"></i></a></span></p>
                <h1 class="mb-0 bread">@Model["標題"]</h1>
            </div>
        </div>
    </div>
</section>