@using 第二組期末專題.Models
@model List<評級> 
        
<h3 class="mb-5" style="font-size: 20px; font-weight: bold;">評論</h3>
<ul class="comment-list">
    @{
        foreach (var 評級 in Model)
        {
            var 評分者 = 評級.Get評分用戶();
            <li class="comment">
                <div class="vcard bio">
                    <img src="../../Content/images/@評分者.Get大頭貼()" alt="Image placeholder">
                </div>
                <div class="comment-body">
                    <h3>@評分者["名字"] (@評級["評分"])</h3>
                    <div class="meta">@評分者["帳號"]</div>
                    <p>@評級["評論"]</p>
                </div>
            </li>
        }
        if (Model.Count == 0)
        {
            <li class="comment">
                <div class="comment-body">
                    <h3>目前尚無評論</h3>
                </div>
            </li>
        }
    }
</ul>
<!-- END comment-list -->