<section class="ftco-section ftco-about img" style="background-image: url(../../images/bg_4.jpg);">
    <div class="overlay"></div>
    <div class="container py-md-5">
        <div class="row py-md-5">
            <div class="col-md d-flex align-items-center justify-content-center">
                @*<a href="https://vimeo.com/45830194"
                   class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">
                    <span class="fa fa-play"></span>
                </a>*@
                <span id="關於我們"></span>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-about ftco-no-pt img">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-12 about-intro">
                <div class="row">
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="img d-flex w-100 align-items-center justify-content-center"
                             style="background-image:url(../../images/about-1.jpg);">
                        </div>
                    </div>
                    <div class="col-md-6 pl-md-5 py-5">
                        <div class="row justify-content-start pb-3">
							<div class="col-md-12 heading-section ftco-animate">
								<span class="subheading">About Us</span>
								<h2 class="mb-4">關於我們</h2>
								<p>
									"Go Go Share"是以『分享』為主『旅遊』為輔的概念<br /> 結合旅人與分享家兩者供需<br />
									旅人透過在地人推薦探索更私密的台灣、品嘗當地美食<br />
									分享家則可以分享家裡閒置房間或分享私藏景點及美食甚至是在地文化
								</p>								
								<input type="button" value="更多資訊" class="btn btn-primary" onclick="location.href='#aboutus'" />
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>