<div class="sidebar-box ftco-animate">
    <div class="categories">
        <h3>Categories</h3>
        <ul>
            <li><a href="#">Travel <span>(12)</span></a></li>
            <li><a href="#">Tour <span>(22)</span></a></li>
            <li><a href="#">Destination <span>(37)</span></a></li>
            <li><a href="#">Drinks <span>(42)</span></a></li>
            <li><a href="#">Foods <span>(14)</span></a></li>
            <li><a href="#">Travel <span>(140)</span></a></li>
        </ul>
    </div>
</div>