<div class="sidebar-box pt-md-5">
    <form action="/Search/By" method="POST" class="search-form">
        <div class="form-group">
            <span class="icon fa fa-search"></span>
            <input name="result" type="text" class="form-control" placeholder="Search...">
        </div>
    </form>
</div>