<div class="sidebar-box ftco-animate">
    <h3>活動時間</h3>
    <div class="text-center">
        <p class="days">@Model.日期起始</p>
        <p class="days">至</p>
        <p class="days">@Model.日期結束</p>
    </div>
</div>