@using GoGoShare.Models
@model 用戶

<div class="about-author d-flex p-4 bg-light">
    <div class="bio mr-5">
        <img src="../../images/@Model.大頭貼" alt="Image placeholder" class="img-fluid mb-4" style="max-height: 115px;">
    </div>
    <div class="desc">
        <h3>@Model.名字</h3>
        <p>他關注的 Hashtags:</p>
        @Html.Partial("TagCloud", Model)
    </div>
</div>