<section class="ftco-section testimony-section bg-bottom" style="background-image: url(../../Content/images/bg_1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <span class="subheading">Journeys</span>
                <h2 class="mb-4">精選旅程</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div id="精選旅程" class="carousel-testimony owl-carousel">
                    @*精選旅程放這邊*@
                </div>
            </div>
        </div>
    </div>
</section>