<div class="hero-wrap js-fullheight" style="background-image: url('../../Content/images/bg_5.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate">
                <span class="subheading">Short Stay, be friends</span>
                <h1 class="mb-4">與新朋友分享美好時光</h1>
                <p class="caps">Travel to any corner of Taiwan, without going around in circles</p>
            </div>
        </div>
    </div>
</div>