
@{
    ViewBag.Title = "測試頁面";
    ViewBag.isScroll = "true";
}

@section HtmlBodyEnd{
    <script src="~/Scripts/test.js"></script>
}

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('../../images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="fa fa-chevron-right"></i></a></span> <span class="mr-2"><a href="index.html">工程中<i class="fa fa-chevron-right"></i></a></span></p>
                <h1 class="mb-0 bread">測試頁面</h1>
            </div>
        </div>
    </div>
</section>
<br/>
<div class="container my-5">
    <div class="accordion" id="accordionTest">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        已註冊的用戶
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionTest">
                <div id="showAllUserData" class="card-body"></div>
            </div>
        </div>
   
    </div>
</div>