
#form-container {
    width: 500px;
}


.p_row{
    display:flex;
    flex-wrap:wrap;
    margin-top: 15px;
}

.col{
    flex-grow:1;
}

#form-container .postform_R {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
}

.postform_R .preview {
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    margin-bottom:1rem;
}

.preview .uploadImg {
    display: inline-block;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
}

.postform_R .preview img {
    width: 100%;
    height: auto;
}


.row.form-group {
    padding-left: 15px;
    padding-right: 30px;
}

.btn {
    margin: 0px auto;
}

button.pUpload {
    margin-bottom: 10px;
    background-color: #000;
    color: #fff;
    padding: 0.6rem;
    width: 100%;
    border: none;
    z-index: 1;
}

.pUpload:hover {
    background-color: #fff;
    color: #f15d30;
    text-decoration: none;
    border: 0.5px solid #f15d30;
    z-index: 1;
}


#editor-container {
    height: 50vh;
}

.postIntro{
    color:#000;
    padding:1rem;
    font-size:1rem;
    letter-spacing:0.5px;
    font-weight:bold;
}
.post-btn{
    padding:5px 8px;
    margin:0 4px;
    border-radius:5px;
    border:unset;
    font-size:1rem;
    letter-spacing:0.5px;

}

.postform_L{
    margin:0 0 1.5rem 0;
}

.postLabel {
    letter-spacing: 0.3px;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    padding: 0 18px 0 0;
}

.postLabelPeo {
    letter-spacing: 0.3px;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    padding:0 60px 0 0;
}

.fas {
    padding: 0 8px 1px 0;
}
.far {
    padding: 0 8px 1px 0;
}

.cbxType{
    color:black;
}

.pCbx{
    padding:0 1rem;
}


@media screen and (max-width:1182px) {
    
}

@media screen and (max-width:720px) {
    .row{
        display:flex;
    }
    .postform {
        align-content:center;
    }
    .postform_L{
        padding:0 1.8rem;
        margin:0 0 1.5rem 0;
        align-items:center;
    }
    
}
