@model SelectInterest

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>SelectInterest</h2>

@foreach (var hashtag in Model.全部Hashtags)
{
    <p>@hashtag.名稱</p>

    if (Model.已選Hashtags.Contains(hashtag))
    {
        <input type="button" value="Remove" onclick="removeUserHashtag(@hashtag.Id)"/>
    }
    else
    {
        <input type="button" value="ADD" onclick="addUserHashtag(@hashtag.Id)"/>
    }
}

@section Scripts {
    <script>
        async function addUserHashtag(hashtagId) {
            await new Promise((resolve, reject) => $.ajax({
                url: `/api/users/me/hashtags/${hashtagId}`,
                type: 'POST',
                data: { id: hashtagId },
                success: resolve,
                error: reject,
            }));
        }
        async function removeUserHashtag(hashtagId) {
            await new Promise((resolve, reject) => $.ajax({
                url: `/api/users/me/hashtags/${hashtagId}`,
                type: 'DELETE',
                data: { id: hashtagId },
                success: resolve,
                error: reject,
            }));
        }
    </script>
}