
@{
	ViewBag.Title = "新增旅程包";
}

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('../../Content/images/bg_1.jpg');">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
			<div class="col-md-9 ftco-animate pb-5 text-center">
				<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span> + <i class="fa fa-chevron-right"></i></span></p>
				<h1 class="mb-0 bread">旅程包</h1>
			</div>
		</div>
	</div>
</section>

<h5>我的所有旅程</h5>
<div class="col-md-12">
	<div class="carousel-testimony owl-carousel">
		<div class="col-3">
			<span class="tel">
				<img src="../../Content/images/person_1.jpg" alt="Image placeholder" class="img-fluid" draggable="true" ondragstart="Drag(event)">
			</span>
		</div>
		<div class="col-3">
			<div class="card card-block">
				<span class="tour">
					<img src="../../Content/images/person_1.jpg" alt="Image placeholder" class="img-fluid">
				</span>
			</div>
		</div>
		<div class="col-3">
			<div class="card card-block">
				<span class="tour">
					<img src="../../Content/images/person_1.jpg" alt="Image placeholder" class="img-fluid">
				</span>
			</div>
		</div>
		<div class="col-3">
			<div class="card card-block">
				<span class="tour">
					<img src="../../Content/images/person_1.jpg" alt="Image placeholder" class="img-fluid">
				</span>
			</div>
		</div>
		<div class="col-3">
			<div class="card card-block">
				<span class="tour">
					<img src="../../Content/images/person_1.jpg" alt="Image placeholder" class="img-fluid">
				</span>
			</div>
		</div>		
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<h5>我的旅程包</h5>
		<div style="border: 1px solid; height: 600px; overflow: auto; ">
			<div>
				<div>
					<img src="../../Content/images/person_1.jpg" alt="Image placeholder" class="col-sm-6 img-fluid">
					<div style="float: right;" class="col-sm-6">
						<h3>旅程A</h3>
						<h5>時段</h5>
					</div>
				</div>
				<div>
					<img src="../../Content/images/person_1.jpg" alt="Image placeholder" class="col-sm-6 img-fluid">
					<div style="float: right;" class="col-sm-6">
						<h3>旅程A</h3>
						<h5>時段</h5>
					</div>
				</div>
				<div>
					<img src="../../Content/images/person_1.jpg" alt="Image placeholder" class="col-sm-6 img-fluid">
					<div style="float: right;" class="col-sm-6">
						<h3>旅程A</h3>
						<h5>時段</h5>
					</div>
				</div>
				<div>
					<img src="../../Content/images/person_1.jpg" alt="Image placeholder" class="col-sm-6 img-fluid">
					<div style="float: right;" class="col-sm-6">
						<h3>旅程A</h3>
						<h5>時段</h5>
					</div>
				</div>
				<div>
					<img src="../../Content/images/person_1.jpg" alt="Image placeholder" class="col-sm-6 img-fluid">
					<div style="float: right;" class="col-sm-6">
						<h3>旅程A</h3>
						<h5>時段</h5>
					</div>
				</div>
				<h5>拖曳圖片至此以新增旅程</h5>
			</div>
		</div>
		<br />
		<input style="float: left; " type="button" value="前日" />
		<input style="float: right; " type="button" value="次日" />

		<!--<input style="float: left;" type="submit" value="前日" class="align-self-stretch form-control btn btn-primary">-->

	</div>
	
	

	
	<div class="col-sm-6">
		<h5>旅程包簡介</h5>
		<div>
			<img src="../../Content/images/person_1.jpg" alt="Image placeholder" class="img-fluid">
			<br />
			<textarea rows="5" class="form-control" name="selfintro"></textarea>
			<input style="float: right; " type="button" value="發表旅程" />
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function () {
		$(".tour").draggable({ helper: 'clone', opacity: 0.5 });
</script>


