<div class="col-sm-6">
    <h5>我的旅程包</h5>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center sortable">標題</th>
                <th class="text-center">刪除</th>
            </tr>
        </thead>
        <tbody id="我的旅程包">
            <tr>
                <td class="text-center align-middle" colspan="2">請新增旅程</td>
            </tr>
        </tbody>
    </table>
    @*<div style="border: 1px solid; height: 600px; overflow: auto; ">
                <div id="tour">
                    <div class="item">
                        <img src="../../Content/images/person_1.jpg" alt="Image placeholder" class="col-sm-6 img-fluid">
                        <div style="float: right;" class="col-sm-6">
                            <h3>旅程A</h3>
                            <h5>時段</h5>
                            <input class="btn btn-primary btn-md " name="removeBtn" style="float: left;" type="button" value="刪除" onclick="DeleteFunc(1)" />
                        </div>
                    </div>
                </div>
                <h5>拖曳圖片至此以新增旅程</h5>
            </div>
        <br />*@
    <input class="btn btn-primary btn-md" style="float: left; " type="button" value="前日" />
    <input class="btn btn-primary btn-md" style="float: right; " type="button" value="次日" />

    <!--<input style="float: left;" type="submit" value="前日" class="align-self-stretch form-control btn btn-primary">-->

</div>