<div class="col-sm-6">
    <h5>旅程包簡介</h5>
    <div>
        @*<img src="../../Content/images/person_1.jpg" alt="Image placeholder" class="img-fluid uploadImg">
        <div class="uploadImg"></div>
        <br />*@
        <textarea rows="5" class="form-control" name="selfintro" placeholder="旅程簡介"></textarea>

        <input class="btn btn-primary btn-md" style="float: right; " type="button" value="發表旅程" />
    </div>
</div>