
<div class="text-center px-xl-3">
    <button class="btn btn-outline-secondary btn-block" type="button" onclick="window.location.href='/Post'">新增旅程文章</button>
</div>
<hr class="my-3">
<div class="text-center px-xl-3">
    <button class="btn btn-outline-secondary btn-block" type="button" onclick="window.location.href='/Pack'">新增旅程包</button>
</div>
<hr class="my-3">
<div class="e-navlist e-navlist--active-bold">
    <ul class="nav">
        <li class="nav-item"><a class="nav-link text-primary" style="cursor: pointer;" name="">所有文章</a></li>
        <li class="nav-item"><a class="nav-link text-primary" style="cursor: pointer;" name="room">出租房間</a></li>
        <li class="nav-item"><a class="nav-link text-primary" style="cursor: pointer;" name="food">共享美食</a></li>
        <li class="nav-item"><a class="nav-link text-primary" style="cursor: pointer;" name="trip">分享旅程</a></li>
    </ul>
</div>
<hr class="my-3">
<form>
    <div class="form-group">
        <label>依標題搜尋:</label>
        <div><input class="form-control w-100" type="text" placeholder="Title" name="result" value=""></div>
    </div>
    <div class="form-group">
        <label>Date from - to:</label>
        <div>
            <input class="form-control flatpickr-input" placeholder="開始時間" type="date" name="starttime">
            <input class="form-control flatpickr-input" placeholder="結束時間" type="date" name="endtime">
        </div>
    </div>
    <div class="text-center px-xl-3">
        <button class="btn btn-info btn-block" type="button" id="postsSearch">搜尋</button>
    </div>
</form>