@model List<GoGoShare.Web.Team2資料庫.文章>

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var item in Model)
{
    <div>
        <h2>@item.標題</h2>
        <p>@item.Id</p>
        <p>@(item.圖片FkNavigation?.路徑 ?? "bg_3.jpg")<p/>
    </div>
}