<section class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="search-wrap-1 ftco-animate">
                    <form action="/Search/By" method="POST" class="search-property-1">
                        <div class="row no-gutters">
                            <div class="col-lg d-flex">
                                <div class="form-group p-4 border-0">
                                    <label for="#">搜尋</label>
                                    <div class="form-field">
                                        <div class="icon"><span class="fa fa-search"></span></div>
                                        <input name="result" type="text" class="form-control" placeholder="尋找地點、美食、分享家...">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg d-flex">
                                <div class="form-group p-4">
                                    <label for="#">活動類型</label>
                                    <div class="form-field">
                                        <div class="select-wrap">
                                            <div class="icon"><span class="fa fa-chevron-down"></span></div>
                                            <select name="active" id="" class="form-control">
                                                <option value="room">出租房間</option>
                                                <option value="food">共享美食</option>
                                                <option value="trip">分享旅程</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg d-flex">
                                <div class="form-group p-4">
                                    <label for="#">開始時間</label>
                                    <div class="form-field">
                                        <div class="icon"><span class="fa fa-calendar"></span></div>
                                        <input name="starttime" type="text" class="form-control checkin_date" placeholder="Check In Date">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg d-flex">
                                <div class="form-group p-4">
                                    <label for="#">結束時間</label>
                                    <div class="form-field">
                                        <div class="icon"><span class="fa fa-calendar"></span></div>
                                        <input name="endtime" type="text" class="form-control checkout_date" placeholder="Check Out Date">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg d-flex">
                                <div class="form-group p-4">
                                    <label for="#">預估點數</label>
                                    <div class="form-field">
                                        <div class="select-wrap">
                                            <div class="icon"><span class="fa fa-chevron-down"></span></div>
                                            <select name="point" id="" class="form-control">
                                                <option value="5000">$5,000</option>
                                                <option value="10000">$10,000</option>
                                                <option value="50000">$50,000</option>
                                                <option value="100000">$100,000</option>
                                                <option value="200000">$200,000</option>
                                                <option value="300000">$300,000</option>
                                                <option value="400000">$400,000</option>
                                                <option value="500000">$500,000</option>
                                                <option value="600000">$600,000</option>
                                                <option value="700000">$700,000</option>
                                                <option value="800000">$800,000</option>
                                                <option value="900000">$900,000</option>
                                                <option value="1000000">$1,000,000</option>
                                                <option value="2000000">$2,000,000</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg d-flex">
                                <div class="form-group d-flex w-100 border-0">
                                    <div class="form-field w-100 align-items-center d-flex">
                                        <input id="btn" type="submit" value="Search" class="align-self-stretch form-control btn btn-primary">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>