.btnadd {
width: 100px;
height: 100px;
background: blue;
position: fixed;
left: 0;
bottom: 0;
}
html, body { height: 100%; }
header { width: 100%; position: relative; background-color: #000; }

.carousel { height: 100%; }
.carousel-inner, .carousel-item { height: 100%; }
.carousel-item { background-size: cover; background-position: center; }



.carousel-caption { left: 15%; right: 60%; bottom: auto; top: 15%; display: none; }
.carousel-caption p { font-size: 13px; }
@media screen and (min-width: 768px){
.carousel-caption { display: block; }
}

.imgt1 {
    margin-left: 250px;
    margin-right: auto;
}

.btn1 {       
position: fixed;
right:30px;
bottom:100px;
width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px  rgb(99, 98, 97);
    border-radius: 30px;	/* 高度 */

}
.btn2 {
position: fixed;
right:30px;
bottom:30px;
width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px  rgb(99, 98, 97);
    border-radius: 30px;	/* 高度 */    
}