
@{
    ViewBag.Title = "article";

    //List<string> MyCSSs = new List<string>();
    //MyCSSs.Add("<link href=\"https://cdn.quilljs.com/1.3.6/quill.snow.css\" rel=\"stylesheet\">");
    //MyCSSs.Add("<link href=\"~/Content/css/post.css\" rel=\"stylesheet\"/>");

    //ViewBag.MyCSSs = MyCSSs;
}

@section HtmlHeadEnd{
    <link rel="stylesheet" href="~/Content/css/post.css" />
    <link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css" />
    <script src="https://kit.fontawesome.com/af1cff1fa5.js" crossorigin="anonymous"></script>

}

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('../../Content/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>新增文章 <i class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">Post</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <form class="row p_row" id="postform">
            <div class="postform col col-12 col-md-6 col-lg-3 my-3">
                
                <div class="postform_L">
                    <label class="postLabel" for="pTitle"><i class="fas fa-suitcase-rolling"></i>請輸入旅程標題</label>
                    <input id="pTitle" type="text" name="pTitle" class="pFormInput" placeholder=" 旅遊行程標題" size="22" autocomplete="off"/>
                    <div class="errorMsg1"></div>
                </div>
                <div class="postform_L">
                    <label style="display: inline" class="postLabel" for="pStartDate"><i class="far fa-calendar-check"></i>請選擇開始日期</label>
                    <input id="pStartDate" type="text" name="startDate" class="pFormInput" size="16" />
                    <div class="errorMsg2"></div>
                </div>
                <div class="postform_L">
                    <label class="postLabel" for="pEndDate"><i class="far fa-calendar-minus"></i>請選擇結束日期</label>
                    <input id="pEndDate" type="text" name="endDate" class="pFormInput" size="16" />
                    <div class="errorMsg3"></div>
                </div>
                <div class="postform_L">
                    <label class="postLabelPeo" for="pTimezone"><i class="fas fa-user-check"></i>時段</label>
                    <input id="pTimezone" type="text" name="pTimezone" class="pFormInput" placeholder=" 例如 : 12:00~13:00 " size="22" />
                    <div class="errorMsg4"></div>
                </div>
                <div class="postform_L">
                    <label class="postLabelPeo" for="pplNumber"><i class="fas fa-user-check"></i>接待人數</label>
                    <input id="pplNumber" type="text" name="ppNumber" class="pFormInput" />
                    <div class="errorMsg5"></div>
                </div>
                <div class="postform_L postCbx">
                    <label class="postLabel"><i class="fas fa-user-check"></i>活動類型</label><hr/>
                    <div class="pCbx"><input id="typeRoom" type="checkbox" name="ptype" class="pFormInputCbx" value="room" /> <label class="cbxType" for="typeRoom"> 出租房間</label> <br /></div>
                    <div class="pCbx"><input id="typeFood" type="checkbox" name="ptype" class="pFormInputCbx" value="food" /> <label class="cbxType" for="typeFood"> 共享美食</label><br /></div>
                    <div class="pCbx"><input id="typeTrip" type="checkbox" name="ptype" class="pFormInputCbx" value="trip" /> <label class="cbxType" for="typeTrip"> 分享旅程</label> <br /></div>
                    <div class="errorMsg6"></div>
                </div>
            </div>
            <div id="form-container" class="col col-12 col-md-6 col-lg-9 ">
                <div class="postform_R col form-group">
                    <div class="postIntro">▋ 請上傳封面照片</div>
                    <div class="preview" id="preview">
                        <div class="uploadImg"></div>
                    </div>
                    <input class="pUpload" type="file" name="pUpload" id="pUpload" accept="image/*">
                    <div class="form-group">
                        <label for="about" type="hidden"></label>
                        <div class="postIntro">▋ 旅程簡介</div>
                        <input id="pContent" name="pContent" type="hidden">
                        <div id="editor-container">

                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div class="form-group">
                            <div class="postIntro">▋ 詳細地址</div>
                            <input class="form-control" name="pAddress" type="text" placeholder=" 請輸入詳細地址">
                        </div>
                        <div id="Hashtag選擇區" class="form-group">
                            <div class="postIntro">Hashtags</div>

                            @*Hashtags放這邊*@

                        </div>

                    </div>
                    <div class="row">
                        <button id="postSubmit" class="btn btn-primary" type="button">分享旅程</button>
                    </div>
                </div>
            </div>
        </form>
        @*<div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>
                            <li><a href="#">&lt;</a></li>
                            <li class="active"><span>1</span></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&gt;</a></li>
                        </ul>
                    </div>
                </div>
            </div>*@
    </div>
</section>

<section class="ftco-intro ftco-section ftco-no-pt">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <div class="img" style="background-image: url(../../Content/images/bg_2.jpg);">
                    <div class="overlay"></div>
                    <h2>We Are Pacific A Travel Agency</h2>
                    <p>We can manage your dream building A small river named Duden flows by their place</p>
                    <p class="mb-0"><a href="#" class="btn btn-primary px-4 py-3">Ask For A Quote</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

@section HtmlBodyEnd{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <style type="text/css">
        button.ui-datepicker-trigger {
            border:none;
            margin-left:0.5rem;
        }
    </style>

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="~/Content/js/jquery-3.6.0.min.js"></script>
    <script src="~/Content/js/jquery-ui.min.js"></script>
    <script src="~/Content/js/jquery.ui.datepicker-zh-TW.js"></script>


    <script type="text/javascript">
        $(function () {

            

            $("#pStartDate,#pEndDate").datepicker({
                dateFormat: 'yy/mm/dd',
                showOn: "both",
                buttonImage: "../Content/images/calendar.png",
                buttonText: "請挑選日期",
                changeYear: true,
                changeMonth: true
            });

            $("input[name=ppNumber]").spinner({
                max: 10 , min: 1
            });

            // 預設照片
            var firstImg = "../Content/images/post_img_1_s.jpg";
            $(".preview").css("background-image", "url(" + firstImg + ")");

            // 照片更換
            $("#pUpload").change(function () {
                $(".preview").css("background-image", "url()");
                $("#preview .uploadImg").html("");
                previewImg(this.files);
            });

            function previewImg(files) {
                if (files.length == 0) {
                    return;
                }
                var file = files[0];
                var pic = new FileReader();

                pic.onload = function () {
                    var img = $("<img>").attr({ src: pic.result });
                    $("#preview .uploadImg ").html(img);
                };
                pic.readAsDataURL(file);
            }

            $(".pFormInput").focus(function () {
                $(this).css({ "border-color": "#56b4ef", "box-shadow": "0px 0px 3px 1px #c8def0" });
            });
            $(".pFormInput").blur(function () {
                $(this).css({ "border-color": "", "box-shadow": "" });
            });

            //標題
            var rule1 = /^.{3,20}$/;
            $("#pTitle").blur(function () {
                if (rule1.test($(this).val())) {
                    $('.errorMsg1').text('');
                    $(this).css({ "border-color": "#40E0D0", "box-shadow": "0px 0px 3px 1px #c8def0" });
                }
                else {
                    $('.errorMsg1').text('*請輸入至少3-5字標題*');
                    $(this).css({ "border-color": "#FA8072", "box-shadow": "0px 0px 3px 1px #c8def0" })
                }
            });

            //開始日期
            var rule2 = /^\d|..$/;
            $("#pStartDate").blur(function () {
                if (rule2.test($(this).val())) {
                    $('.errorMsg2').text('');
                    $(this).css({ "border-color": "#40E0D0", "box-shadow": "0px 0px 3px 1px #c8def0" });
                }
                else {
                    $('.errorMsg2').text('*請選擇開始日期*');
                    $(this).css({ "border-color": "#FA8072", "box-shadow": "0px 0px 3px 1px #c8def0" })
                }
            });

            //結束日期
            var rule3 = /^\d|..$/;
            $("#pEndDate").blur(function () {
                if (rule3.test($(this).val())) {
                    $('.errorMsg3').text('');
                    $(this).css({ "border-color": "#40E0D0", "box-shadow": "0px 0px 3px 1px #c8def0" });
                }
                else {
                    $('.errorMsg3').text('*請選擇結束日期*');
                    $(this).css({ "border-color": "#FA8072", "box-shadow": "0px 0px 3px 1px #c8def0" })
                }
            });

            //時段
            var rule4 = /^\d|..$/;
            $("#pTimezone").blur(function () {
                if (rule4.test($(this).val())) {
                    $('.errorMsg4').text('');
                    $(this).css({ "border-color": "#40E0D0", "box-shadow": "0px 0px 3px 1px #c8def0" });
                }
                else {
                    $('.errorMsg4').text('*請輸入完整的時段*');
                    $(this).css({ "border-color": "#FA8072", "box-shadow": "0px 0px 3px 1px #c8def0" })
                }
            });

            //接待人數
            $("input[name=ppNumber]").blur(function () {
                if ($(this).val() != '') {
                    $('.errorMsg5').text('');
                    $(this).css({ "border-color": "#40E0D0", "box-shadow": "0px 0px 3px 1px #c8def0" });
                }
                else {
                    $('.errorMsg5').text('*請選擇人數上限*');
                    $(this).css({ "border-color": "#FA8072", "box-shadow": "0px 0px 3px 1px #c8def0" })
                }
            })


        });
    </script>
    <script>

        //編輯器
        var Font = Quill.import('formats/font');
        Font.whiteList = ['mirza', 'roboto'];
        Quill.register(Font, true);

        var quill = new Quill('#editor-container', {
            modules: {
                toolbar: [
                    [{ header: [1, 2, false] }],
                    ['bold', 'italic'],
                    ['link', 'blockquote', 'code-block', 'image'],
                    [{ list: 'ordered' }, { list: 'bullet' }]
                ]
            },
            scrollingContainer: '#scrolling-container',
            placeholder: '開始分享您的旅程..',
            theme: 'snow'
        });

        
        var form = document.querySelector('form');

        $("#postSubmit").click(function () {
            // Populate hidden form on submit
            //var about = document.querySelector('input[name=about]');
            //about.value = JSON.stringify(quill.getContents());


            var content = JSON.stringify(quill.getContents());
            console.log("contents:", content);
            $("#pContent").val(content);

            
            $.ajax({
                type: 'Post',
                url: '../Post/New',
                data: $(form).serialize(),
                success: function () {
                    Swal.fire({
                        title: '確定要新增旅程嗎?',
                        showDenyButton: true,
                        showCancelButton: true,
                        confirmButtonText: '儲存',
                        denyButtonText: `再等一下`,
                            }).then((result) => {
                                /* Read more about isConfirmed, isDenied below */
                                if (result.isConfirmed) {
                                    Swal.fire('新增成功!', '', 'success')
                                } else if (result.isDenied) {
                                    Swal.fire('Changes are not saved', '', 'info')
                                }
                            })
                }
            //}).done(function (msg) {
            //    alert(msg);
            });

        });

        
    </script>
    <script src="~/Content/js/Hashtag群組.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: '/Post/GetHashtags'
            }).done(function (hashtags) {
                new Hashtag群組(hashtags, { 編輯模式: true }).at('#Hashtag選擇區');
            });
        });
    </script>
}