<section class="ftco-section">
    <div class="container">
        <form class="row p_row" id="postform">
            <div class="postform col col-12 col-md-6 col-lg-3 my-3">

                <div class="postform_L">
                    <label class="postLabel" for="pTitle"><i class="fas fa-suitcase-rolling"></i>請輸入旅程標題</label>
                    <input id="pTitle" type="text" name="pTitle" class="pFormInput" placeholder=" 旅遊行程標題" size="22" autocomplete="off" />
                    <div class="errorMsg1"></div>
                </div>
                <div class="postform_L">
                    <label style="display: inline" class="postLabel" for="pStartDate"><i class="far fa-calendar-check"></i>請選擇開始日期</label>
                    <input id="pStartDate" type="text" name="startDate" class="pFormInput" size="16" />
                    <div class="errorMsg2"></div>
                </div>
                <div class="postform_L">
                    <label class="postLabel" for="pEndDate"><i class="far fa-calendar-minus"></i>請選擇結束日期</label>
                    <input id="pEndDate" type="text" name="endDate" class="pFormInput" size="16" />
                    <div class="errorMsg3"></div>
                </div>
                <div class="postform_L">
                    <label class="postLabelPeo" for="pTimezone"><i class="fas fa-user-check"></i>時段</label>
                    <input id="pTimezone" type="text" name="pTimezone" class="pFormInput" placeholder=" 例如 : 12:00~13:00 " size="22" />
                    <div class="errorMsg4"></div>
                </div>
                <div class="postform_L">
                    <label class="postLabelPeo" for="pplNumber"><i class="fas fa-user-check"></i>接待人數</label>
                    <input id="pplNumber" type="text" name="ppNumber" class="pFormInput" />
                    <div class="errorMsg5"></div>
                </div>
                <div class="postform_L postCbx">
                    <label class="postLabel"><i class="fas fa-user-check"></i>活動類型</label><hr />
                    <div class="pCbx"><input id="typeRoom" type="checkbox" name="ptype" class="pFormInputCbx" value="room" /> <label class="cbxType" for="typeRoom"> 出租房間</label> <br /></div>
                    <div class="pCbx"><input id="typeFood" type="checkbox" name="ptype" class="pFormInputCbx" value="food" /> <label class="cbxType" for="typeFood"> 共享美食</label><br /></div>
                    <div class="pCbx"><input id="typeTrip" type="checkbox" name="ptype" class="pFormInputCbx" value="trip" /> <label class="cbxType" for="typeTrip"> 分享旅程</label> <br /></div>
                    <div class="errorMsg6"></div>
                </div>
            </div>
            <div id="form-container" class="col col-12 col-md-6 col-lg-9 ">
                <div class="postform_R col form-group">
                    <div class="postIntro">▋ 請上傳封面照片</div>
                    <div class="preview" id="preview">
                        <div class="uploadImg"></div>
                    </div>
                    <input class="pUpload" type="file" name="pUpload" id="pUpload" accept="image/*">
                    <div class="form-group">
                        <label for="about" type="hidden"></label>
                        <div class="postIntro">▋ 旅程簡介</div>
                        <input id="pContent" name="pContent" type="hidden">
                        <div id="editor-container">

                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div class="form-group">
                            <div class="postIntro">▋ 詳細地址</div>
                            <input class="form-control" name="pAddress" type="text" placeholder=" 請輸入詳細地址">
                        </div>
                        <div id="Hashtag選擇區" class="form-group">
                            <div class="postIntro">Hashtags</div>

                            @*Hashtags放這邊*@

                        </div>

                    </div>
                    <div class="row">
                        <button id="postSubmit" class="btn btn-primary" type="button">分享旅程</button>
                    </div>
                </div>
            </div>
        </form>
        @*<div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>
                            <li><a href="#">&lt;</a></li>
                            <li class="active"><span>1</span></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&gt;</a></li>
                        </ul>
                    </div>
                </div>
            </div>*@
    </div>
</section>