@if (Session["Id"] == null)
{
    <section class="ftco-intro ftco-section ftco-no-pt">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <div class="img" style="background-image: url(../../Content/images/bg_2.jpg);">
                        <div class="overlay"></div>
                        <h2>已經有帳號了嗎？</h2>
                        <p>現在就登入尋找屬於您的旅程吧</p>
                        <p class="mb-0" style="width: 100%;">
                            <a href="/SignUp" class="btn btn-primary px-4 py-3 mx-3">登入/註冊</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
}